// Import modules
@use "abstracts/variables" as *;
@use "base/reset";
@use "base/base";
@use "components/animations";
@use "components/buttons";
@use "components/icons";
@use "layout/header";
@use "layout/aside";
@use "layout/main";
@use "layout/footer";
@use "layout/picture";
@use "layout/mediaQueries" as *;

// Grid Container
.grid-container {
  display: grid;
  min-height: 100vh;
  grid:
    "picture header" auto 
    "aside main" 1fr / 350px auto;

  @include xl {
    grid:
      "picture header" auto 
      "aside main" 1fr / 350px auto;
  }

  @include lg {
    grid:
      "header" auto
      "picture" auto
      "main" auto
      "aside" auto;
  }

  @include md {
    grid:
      "header" auto
      "picture" auto
      "main" auto
      "aside" auto;
  }

  @include sm {
    grid:
      "header" auto
      "picture" auto
      "main" auto
      "aside" auto;
  }

  @include xs {
    grid:
      "header" auto
      "picture" auto
      "main" auto
      "aside" auto;
  }
}
