// Frontend icons
.logoHtml { color: #e34f26; }
.logoCss { color: #264de4; }
.logoScss { color: #c69; }
.logoBootstrap { color: #563d7c; }
.logoJs { color: #f0db4f; }
.logoReact { color: #61dafb; }

// Backend icons
.logoNodeJS { color: #3c873a; }

// Tools icons
.iconGit { color: #f05032; }
.iconGitHub { color: #333; }

// Social icons
.iconLinkedin { color: #0077b5; }

// Design icons
.iconFigma { color: #f24e1e; }
