// Reset général
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Reset des listes
ul {
  list-style: none;
}

// Reset des liens
a {
  color: var(--text);
  text-decoration: none;
}

// Reset des images
img {
  max-width: 100%;
}
